{% extends "follow_up/base.html" %}
{% block body_block %}
    <div class="container">
        <h2>{{basonta_details.nom_basonta}}</h2>
            <table class="table table-bordered table-striped">
                    <tr>
                        <th>Nom</th>
                        <td>{{basonta_details.nom_basonta}}</td>
                    </tr>
                    <tr>
                        <th>Leader du Basonta</th>
                        <td>{{basonta_details.leader_basonta}}</td>
                    </tr>
            </table>
        <!-- Liste des membres appartenant au basonta -->
        <br>
        <h5>Liste des membres appartenant au Basonta</h5>
        <div>
            <table class="table table-bordered table-striped">
                <thead class="table-primary" style="position:sticky">
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Téléphone</th>
                        <th>Adresse</th>
                        <th>Bacenta</th>
                        <th>Bapteme d'eau</th>
                        <th>Bapteme du Saint Esprit</th>
                    </tr>
                </thead>
                <tbody>
                    {% for basonta in basonta_details.basontas.all %}
                        <tr>
                            <h6>
                                <td>{{basonta.nom_membre}}</td>
                                <td>{{basonta.prenom_membre}}</td>
                                <td>{{basonta.numero_membre}}</td>
                                <td>{{basonta.adresse_membre}}</td>
                                <td>{{basonta.bacenta_membre}}</td>
                                <td>{{basonta.bapteme_eau}}</td>
                                <td>{{basonta.bapteme_esprit}}</td>
                            </h6>
                        </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <p>
                <a class="btn btn-dark" href="{% url 'follow_up:basonta_list'%}">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#bi-arrow-return-left"/></svg>
                    Retour
                </a>
            </p>
    </div>

{% endblock %}