{% extends "follow_up/base.html" %}
{% block body_block %}
    <div class="container scrollarea">
        <h2 id="top"> Liste des membres </h2>
                <!-- Ajout de la barre de recherche, basée sur du Java script. -->
                <p>Saisissez le nom d'un membre dans la barre de recherche pour effectuer une recherche dans la tableau suivant :</p>
                <input class="form-control" id="myInput" type="text" placeholder="Search..">
                <br>

        <div>
            <table class="table table-bordered table-striped">
                <thead class="table-dark" style="position:sticky">
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Téléphone</th>
                        <th>Adresse</th>
                        <th>Bacenta</th>
                        <th>Basonta</th>
                        <th>Plus d'infos</th>
                    </tr>
                </thead>
                <tbody id="myTable">
                    {% for membre in membres %}
                        <tr>
                            <h6>
                                <td>{{membre.nom_membre}}</td>
                                <td>{{membre.prenom_membre}}</td>
                                <td>{{membre.numero_membre}}</td>
                                <td>{{membre.adresse_membre}}</td>
                                <td>{{membre.bacenta_membre}}</td>
                                <td>{{membre.basonta_membre}}</td>
                                <td><a href="{{membre.id}}">Plus d'infos</a></td>
                            </h6>
                        </tr>
                {% endfor %}
                </tbody>
            </table>
            <p>
                <a class="btn btn-primary" href="{% url 'follow_up:create' %}">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#bi-plus-circle"/></svg>
                    Ajouter
                </a>
            </p>
            <div class="d-md-flex justify-content-md-end">
              <a class="nav-item nav-link" href="#top" internal>
                  <button class="btn btn-secondary" type="button">
                      <svg class="bi me-2" width="16" height="16"><use xlink:href="#bi-arrow-up-circle"/></svg>
                      Haut du tableau
                  </button>
              </a>
         </div>
        </div>
    </div>

<script>
            $(document).ready(function(){
              $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function() {
                  $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
              });
            });
</script>

{% endblock %}